.swiper-pagination-bullet-active {
    width: 10px !important;;
    height: 10px !important;;
    background: #ccfefb!important;
    opacity: 1!important; 
    size: 60px!important;
  }

.swiper-pagination-bullet-active-prev,.swiper-pagination-bullet-active-next-next, .swiper-pagination-bullet-active-prev-prev, .swiper-pagination-bullet-active-next {
    width: 10px !important;;
    height: 10px !important;;
    size: 60px !important;;
    background: grey !important;
  }

  .swiper-pagination{
    position: relative !important;;
    margin-top: 40px !important;
  }
  
.swiper-navigation{
    color: #447c96 !important;; 
}

.swiper-button-next,
.swiper-button-prev {
    
    color: #447c96 !important;
    fill: #447c96 !important;
    stroke: #447c96 !important;
}


@media (max-width: 640px) {
    .swiper-button-next,
.swiper-button-prev  {
      display: none !important;
    }
  }

  @media (min-width: 1000px) {
    .swiper {
      width: 80% !important;;
    }
  }
  